{% extends 'base.html' %}
 {% load static %}
{% block body %}
 <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Current Journey Status</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->
     <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                {% if JourneyStat  %}
                    <div class="col-lg-6 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>You are on the move!</h3>
							<div class="col-sm-12">
                                <ul class="list-group">
                                     {% for key,value in JourneyStat.items %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="col-sm-7" align="left"><strong>{{key}} :</strong></div>
                                    <div class="col-sm-5" align="right">{{value}}</div>
                                    </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                		</div>
                		<div class="create-ac">
                			Safe Journey Drive Safely!
                		</div>
                		<div class="login-menu">
                            <a href="{% url 'driver:trip' %}"><button type="button"  class="btn btn-danger">End Journey</button></a> |
                            <a href="{{pathtomap}}" target="_blank"><button type="button"  class="btn btn-info">Transit Map</button></a>
                		</div>
                	</div>
                </div>
                {% else %}
                <div class="col-lg-6 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>All trips Done.</h3>
                		</div>
                		<div class="create-ac">
                			Click Start to pick your next trip.
                		</div>
                		<div class="login-menu">
                            <a href="{% url 'driver:home' %}"><button type="button"  class="btn btn-success">Start</button></a>
                		</div>
                	</div>
                </div>
                {% endif %}
        	</div>
        </div>
    </section>
    <!--== Login Page Content End ==-->



{% endblock body %}