{% extends 'base.html' %}
 {% load static %}
{% block body %}
 <!--== Page Title Area Start ==-->
   
    <!--== Page Title Area End ==-->
     <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>Journey Ended Successfully.</h3>
                		</div>
                		<div class="create-ac">
                			Click Start to pick your next trip.
                            {{info}}
                		</div>
                		<div class="login-menu">
                            <a href="{% url 'driver:home' %}"><button type="button"  class="btn btn-success">Start</button></a>
                		</div>
                	</div>
                </div>

        	</div>
        </div>
    </section>
    <!--== Login Page Content End ==-->



{% endblock body %}